Repository capawesome-team/capacitor-firebase, pull requests merged in 2022-04, with the labels that each got.

#55 feat(authentication): provide access tokens for Google and Facebook
  .changeset/hip-coins-talk.md
  README.md
  package-lock.json
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationHelper.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/AppleAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/FacebookAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/PhoneAuthProviderHandler.java
  packages/authentication/ios/Plugin/FirebaseAuthentication.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationHelper.swift
  packages/authentication/ios/Plugin/Handlers/AppleAuthProviderHandler.swift
  packages/authentication/ios/Plugin/Handlers/FacebookAuthProviderHandler.swift
  packages/authentication/ios/Plugin/Handlers/GoogleAuthProviderHandler.swift
  packages/authentication/ios/Plugin/Handlers/OAuthProviderHandler.swift
  packages/authentication/ios/Plugin/Handlers/PhoneAuthProviderHandler.swift
Labels: feature, package: authentication

#58 fix(authentication): `accessToken` was returned as `idToken`
  .changeset/poor-planets-wave.md
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/FacebookAuthProviderHandler.java
  packages/authentication/ios/Plugin/Handlers/FacebookAuthProviderHandler.swift
Labels: platform: android, bug/fix, platform: ios, package: authentication

#69 docs(authentication): remove unnecessary space
  packages/authentication/README.md
Labels: docs, package: authentication

#71 fix(authentication): add `removeAllListeners` method
  .changeset/rare-houses-hear.md
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.m
Labels: bug/fix, platform: ios, package: authentication

#72 fix(docs): spacing
  packages/authentication/docs/setup-google.md
Labels: docs, package: authentication

#76 fix(analytics): string parameters in `logEvent` are sent as `String` instead of the parameter value
  .changeset/hip-masks-mix.md
  packages/analytics/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/analytics/FirebaseAnalyticsHelper.java
Labels: platform: android, bug/fix, package: analytics
