Repository capawesome-team/capacitor-firebase, pull requests merged in 2022-11, with the labels that each got.

#231 build(authentication): set `CODE_SIGNING_ALLOWED` to `NO` for iOS
  packages/authentication/ios/Podfile
Labels: build, platform: ios, package: authentication

#233 docs(authentication): update Firebase JS SDK docs for Email Link
  packages/authentication/README.md
  packages/authentication/docs/firebase-js-sdk.md
Labels: docs, package: authentication

#235 feat(authentication): support Game Center Sign-In
  .changeset/fair-beds-wash.md
  packages/authentication/README.md
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/docs/setup-game-center.md
  packages/authentication/ios/Plugin.xcodeproj/project.pbxproj
  packages/authentication/ios/Plugin/FirebaseAuthentication.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationHelper.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.m
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.swift
  packages/authentication/ios/Plugin/Handlers/GameCenterAuthProviderHandler.swift
  packages/authentication/src/definitions.ts
  packages/authentication/src/web.ts
Labels: feature, package: authentication

#246 fix(authentication): update Facebook Login SDK
  .changeset/odd-frogs-talk.md
  packages/authentication/android/build.gradle
Labels: platform: android, bug/fix, package: authentication

#248 fix(authentication): add missing `linkWithGameCenter` declaration
  packages/authentication/README.md
  packages/authentication/src/definitions.ts
  packages/authentication/src/web.ts
Labels: bug/fix, package: authentication

#239 feat: add App Check plugin
  .changeset/config.json
  .changeset/weak-candles-listen.md
  README.md
  package-lock.json
  packages/app-check/.eslintignore
  packages/app-check/.gitignore
  packages/app-check/.npmrc
  packages/app-check/.prettierignore
  packages/app-check/BREAKING.md
  packages/app-check/CHANGELOG.md
  packages/app-check/CapacitorFirebaseAppCheck.podspec
  packages/app-check/LICENSE
  packages/app-check/README.md
  packages/app-check/android/.gitignore
  packages/app-check/android/build.gradle
  packages/app-check/android/gradle.properties
  packages/app-check/android/gradle/wrapper/gradle-wrapper.jar
  packages/app-check/android/gradle/wrapper/gradle-wrapper.properties
  packages/app-check/android/gradlew
  packages/app-check/android/gradlew.bat
  packages/app-check/android/proguard-rules.pro
  packages/app-check/android/settings.gradle
  packages/app-check/android/src/androidTest/java/com/getcapacitor/android/ExampleInstrumentedTest.java
  packages/app-check/android/src/main/AndroidManifest.xml
  packages/app-check/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/appcheck/FirebaseAppCheck.java
  packages/app-check/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/appcheck/FirebaseAppCheckPlugin.java
  packages/app-check/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/appcheck/GetTokenResultCallback.java
  packages/app-check/android/src/main/res/.gitkeep
  packages/app-check/android/src/test/java/com/getcapacitor/ExampleUnitTest.java
  packages/app-check/ios/Plugin.xcodeproj/project.pbxproj
  packages/app-check/ios/Plugin.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/app-check/ios/Plugin.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/app-check/ios/Plugin.xcodeproj/xcshareddata/xcschemes/Plugin.xcscheme
  packages/app-check/ios/Plugin.xcodeproj/xcshareddata/xcschemes/PluginTests.xcscheme
  packages/app-check/ios/Plugin.xcworkspace/contents.xcworkspacedata
  packages/app-check/ios/Plugin.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/app-check/ios/Plugin/CustomAppCheckProviderFactory.swift
  packages/app-check/ios/Plugin/FirebaseAppCheck.swift
  packages/app-check/ios/Plugin/FirebaseAppCheckPlugin.h
  packages/app-check/ios/Plugin/FirebaseAppCheckPlugin.m
  packages/app-check/ios/Plugin/FirebaseAppCheckPlugin.swift
  packages/app-check/ios/Plugin/Info.plist
  packages/app-check/ios/PluginTests/FirebaseAppCheckPluginTests.swift
  packages/app-check/ios/PluginTests/Info.plist
  packages/app-check/ios/Podfile
  packages/app-check/package.json
  packages/app-check/rollup.config.js
  packages/app-check/src/definitions.ts
  packages/app-check/src/index.ts
  packages/app-check/src/web.ts
  packages/app-check/tsconfig.json
  packages/messaging/README.md
  packages/messaging/src/definitions.ts
Labels: feature, package: app-check

#264 docs(messaging): update installation section regarding `FirebaseAppDelegateProxyEnabled`
  packages/messaging/README.md
Labels: docs, package: messaging

#265 feat: update all native SDKs
  .changeset/nasty-hats-yell.md
  packages/analytics/CapacitorFirebaseAnalytics.podspec
  packages/analytics/README.md
  packages/analytics/android/build.gradle
  packages/analytics/ios/Podfile
  packages/app-check/CapacitorFirebaseAppCheck.podspec
  packages/app-check/ios/Podfile
  packages/app/CapacitorFirebaseApp.podspec
  packages/app/README.md
  packages/app/android/build.gradle
  packages/app/ios/Podfile
  packages/authentication/CapacitorFirebaseAuthentication.podspec
  packages/authentication/android/build.gradle
  packages/authentication/ios/Podfile
  packages/crashlytics/CapacitorFirebaseCrashlytics.podspec
  packages/crashlytics/README.md
  packages/crashlytics/android/build.gradle
  packages/crashlytics/ios/Podfile
  packages/messaging/CapacitorFirebaseMessaging.podspec
  packages/messaging/README.md
  packages/messaging/android/build.gradle
  packages/messaging/ios/Podfile
  packages/performance/CapacitorFirebasePerformance.podspec
  packages/performance/README.md
  packages/performance/android/build.gradle
  packages/performance/ios/Podfile
  packages/remote-config/CapacitorFirebaseRemoteConfig.podspec
  packages/remote-config/ios/Podfile
Labels: platform: android, feature, platform: ios
