Repository capawesome-team/capacitor-firebase, pull requests merged in 2022-12, with the labels that each got.

#272 feat(authentication): provide the auto-retrieved SMS verification code
  .changeset/spotty-tigers-laugh.md
  package-lock.json
  packages/authentication/README.md
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/handlers/PhoneAuthProviderHandler.java
  packages/authentication/ios/Plugin/FirebaseAuthentication.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.swift
  packages/authentication/ios/Plugin/Handlers/PhoneAuthProviderHandler.swift
  packages/authentication/src/definitions.ts
Labels: platform: android, feature

#273 feat(authentication): resend sms verification code on Android
  .changeset/gold-buttons-dance.md
  packages/authentication/README.md
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/handlers/PhoneAuthProviderHandler.java
  packages/authentication/src/definitions.ts
Labels: platform: android, feature, package: authentication

#276 fix(app-check): resolve calls on Android
  packages/app-check/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/appcheck/FirebaseAppCheckPlugin.java
Labels: platform: android, bug/fix, package: app-check

#287 fix(remote-config): minimum fetch interval in seconds use integer
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/FirebaseRemoteConfigPlugin.java
Labels: platform: android, bug/fix, package: remote-config
