Repository capawesome-team/capacitor-firebase, pull requests merged in 2022-03, with the labels that each got.

#17 fix(authentication): build error
  .changeset/fluffy-paws-cover.md
  .github/workflows/ci.yml
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationHelper.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/AppleAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/FacebookAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/GoogleAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/OAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/PhoneAuthProviderHandler.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/PlayGamesAuthProviderHandler.java
  packages/authentication/android/src/main/res/values/strings.xml
  packages/authentication/ios/Podfile
  packages/authentication/package.json
Labels: bug/fix, package: authentication

#22 feat(authentication): support Firebase Emulator
  .changeset/heavy-teachers-drum.md
  packages/authentication/README.md
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java
  packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/ios/Plugin/FirebaseAuthentication.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.m
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.swift
  packages/authentication/src/definitions.ts
  packages/authentication/src/web.ts
Labels: feature, package: authentication

#42 ci: add `needs-triage` workflow
  .github/workflows/needs-triage.yml
Labels: ci

#21 fix(analytics): run `setCurrentScreen` in the main thread
  .changeset/gold-cameras-cry.md
  packages/analytics/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/analytics/FirebaseAnalytics.java
  packages/analytics/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/analytics/FirebaseAnalyticsPlugin.java
  packages/analytics/ios/Plugin/FirebaseAnalytics.swift
  packages/analytics/src/web.ts
Labels: bug/fix, package: analytics

#49 docs(authentication): update reference to deprecated package
  packages/authentication/docs/setup-google.md
Labels: docs

#52 fix(analytics): `screenClassOverride` has been ignored on Android
  .changeset/fuzzy-paws-guess.md
  packages/analytics/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/analytics/FirebaseAnalyticsPlugin.java
Labels: platform: android, bug/fix, package: analytics
