Repository capawesome-team/capacitor-firebase, pull requests merged in 2023-12, with the labels that each got.

#513 chore(ios): allow patch and minor updates for dependencies
  packages/analytics/CapacitorFirebaseAnalytics.podspec
  packages/app-check/CapacitorFirebaseAppCheck.podspec
  packages/app/CapacitorFirebaseApp.podspec
  packages/authentication/CapacitorFirebaseAuthentication.podspec
  packages/crashlytics/CapacitorFirebaseCrashlytics.podspec
  packages/firestore/CapacitorFirebaseFirestore.podspec
  packages/messaging/CapacitorFirebaseMessaging.podspec
  packages/performance/CapacitorFirebasePerformance.podspec
  packages/remote-config/CapacitorFirebaseRemoteConfig.podspec
  packages/storage/CapacitorFirebaseStorage.podspec
Labels: dependencies, platform: ios

#520 fix(authentication): empty verification ID on phone auth
  .changeset/khaki-maps-carry.md
  packages/authentication/ios/Plugin/Handlers/PhoneAuthProviderHandler.swift
Labels: bug/fix, platform: ios, package: authentication

#522 feat(authentication): add `timeout` option to `signInWithPhoneNumber(…)`
  .changeset/fluffy-cooks-behave.md
  packages/authentication/README.md
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/classes/LinkWithPhoneNumberOptions.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/classes/SignInWithPhoneNumberOptions.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/handlers/PhoneAuthProviderHandler.java
  packages/authentication/docs/firebase-js-sdk.md
  packages/authentication/src/definitions.ts
Labels: feature, package: authentication

#502 feat(remote-config): support realtime config updates
  .changeset/fresh-panthers-speak.md
  packages/firestore/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/firestore/interfaces/ResultCallback.java
  packages/remote-config/README.md
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/FirebaseRemoteConfig.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/FirebaseRemoteConfigPlugin.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/classes/events/AddConfigUpdateListenerOptionsCallbackEvent.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/classes/options/AddConfigUpdateListenerOptions.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/classes/options/RemoveConfigUpdateListenerOptions.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/interfaces/EmptyResultCallback.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/interfaces/NonEmptyResultCallback.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/interfaces/Result.java
  packages/remote-config/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/remoteconfig/interfaces/ResultCallback.java
  packages/remote-config/ios/Plugin.xcodeproj/project.pbxproj
  packages/remote-config/ios/Plugin/Classes/Events/AddConfigUpdateListenerOptionsCallbackEvent.swift
  packages/remote-config/ios/Plugin/Classes/Options/AddConfigUpdateListenerOptions.swift
  packages/remote-config/ios/Plugin/Classes/Options/RemoveConfigUpdateListenerOptions.swift
  packages/remote-config/ios/Plugin/FirebaseRemoteConfig.swift
  packages/remote-config/ios/Plugin/FirebaseRemoteConfigPlugin.m
  packages/remote-config/ios/Plugin/FirebaseRemoteConfigPlugin.swift
  packages/remote-config/ios/Plugin/Protocols/Result.swift
  packages/remote-config/src/definitions.ts
  packages/remote-config/src/web.ts
Labels: platform: android, feature, platform: ios, package: remote-config

#525 refactor(app-check): mark the `CustomAppCheckProviderFactory` as `public`
  packages/app-check/ios/Plugin/CustomAppCheckProviderFactory.swift
Labels: refactor, package: app-check
