Repository capawesome-team/capacitor-firebase, pull requests merged in 2024-03, with the labels that each got.

#573 Fixing a persistence error
  packages/authentication/README.md
Labels: docs, needs: reply, package: authentication

#581 chore(deps): bump Firebase Apple SDK to version `10.22.0`
  packages/analytics/CapacitorFirebaseAnalytics.podspec
  packages/analytics/ios/Podfile
  packages/app-check/CapacitorFirebaseAppCheck.podspec
  packages/app-check/ios/Plugin.xcodeproj/project.pbxproj
  packages/app-check/ios/Podfile
  packages/app/CapacitorFirebaseApp.podspec
  packages/app/ios/Podfile
  packages/authentication/CapacitorFirebaseAuthentication.podspec
  packages/authentication/ios/Plugin.xcodeproj/project.pbxproj
  packages/authentication/ios/Podfile
  packages/crashlytics/CapacitorFirebaseCrashlytics.podspec
  packages/crashlytics/ios/Podfile
  packages/firestore/CapacitorFirebaseFirestore.podspec
  packages/firestore/ios/Plugin.xcodeproj/project.pbxproj
  packages/firestore/ios/Podfile
  packages/messaging/CapacitorFirebaseMessaging.podspec
  packages/messaging/ios/Podfile
  packages/performance/CapacitorFirebasePerformance.podspec
  packages/performance/ios/Plugin.xcodeproj/project.pbxproj
  packages/performance/ios/Podfile
  packages/remote-config/CapacitorFirebaseRemoteConfig.podspec
  packages/remote-config/ios/Plugin.xcodeproj/project.pbxproj
  packages/remote-config/ios/Podfile
  packages/storage/CapacitorFirebaseStorage.podspec
  packages/storage/ios/Podfile
Labels: dependencies, platform: ios

#580 fix(storage): add `null` check to `updateMetadata(...)` on Android
  .changeset/ten-ants-nail.md
  packages/storage/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/storage/FirebaseStoragePlugin.java
Labels: platform: android, bug/fix, package: storage

#579 fix(storage): `uploadFile(...)` causes `NullPointerException` on Android
  .changeset/fair-vans-do.md
  packages/storage/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/storage/FirebaseStorageHelper.java
Labels: platform: android, bug/fix, package: storage

#594 chore(deps): update the `firebase` dependency to `10.9.0`
  .changeset/neat-bikes-bathe.md
  package-lock.json
  packages/analytics/BREAKING.md
  packages/analytics/package.json
  packages/app-check/BREAKING.md
  packages/app-check/package.json
  packages/app/BREAKING.md
  packages/app/package.json
  packages/authentication/BREAKING.md
  packages/authentication/package.json
  packages/crashlytics/BREAKING.md
  packages/crashlytics/package.json
  packages/firestore/BREAKING.md
  packages/firestore/package.json
  packages/messaging/BREAKING.md
  packages/messaging/package.json
  packages/performance/BREAKING.md
  packages/performance/package.json
  packages/remote-config/BREAKING.md
  packages/remote-config/package.json
  packages/storage/BREAKING.md
Labels: dependencies, breaking change

#593 feat(authentication): add `fetchSignInMethodsForEmail(...)` method
  .changeset/khaki-seals-buy.md
  packages/authentication/README.md
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/classes/options/FetchSignInMethodsForEmailOptions.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/classes/results/FetchSignInMethodsForEmailResult.java
  packages/authentication/ios/Plugin.xcodeproj/project.pbxproj
  packages/authentication/ios/Plugin/Classes/Options/FetchSignInMethodsForEmailOptions.swift
  packages/authentication/ios/Plugin/Classes/Results/FetchSignInMethodsForEmailResult.swift
  packages/authentication/ios/Plugin/FirebaseAuthentication.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.m
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.swift
  packages/authentication/src/definitions.ts
  packages/authentication/src/web.ts
Labels: feature, package: authentication
