Repository capawesome-team/capacitor-firebase, pull requests merged in 2024-07, with the labels that each got.

#660 feat(functions): support Cloud Functions locations
  packages/functions/README.md
  packages/functions/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/functions/FirebaseFunctions.java
  packages/functions/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/functions/FirebaseFunctionsPlugin.java
  packages/functions/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/functions/classes/options/CallByNameOptions.java
  packages/functions/ios/Plugin/Classes/Options/CallByNameOptions.swift
  packages/functions/ios/Plugin/FirebaseFunctions.swift
  packages/functions/ios/Plugin/FirebaseFunctionsPlugin.swift
  packages/functions/src/definitions.ts
  packages/functions/src/web.ts
Labels: feature, package: functions

#657 feat(authentication): support `actionCodeSettings` in `sendEmailVerification(...)` and `sendPasswordResetEmail(...)`
  .changeset/dirty-games-reflect.md
  packages/authentication/README.md
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationHelper.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/FirebaseAuthenticationPlugin.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/classes/options/SendEmailVerificationOptions.java
  packages/authentication/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/authentication/classes/options/SendPasswordResetEmailOptions.java
  packages/authentication/ios/Plugin.xcodeproj/project.pbxproj
  packages/authentication/ios/Plugin/Classes/Options/SendEmailVerificationOptions.swift
  packages/authentication/ios/Plugin/Classes/Options/SendPasswordResetEmailOptions.swift
  packages/authentication/ios/Plugin/FirebaseAuthentication.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationHelper.swift
  packages/authentication/ios/Plugin/FirebaseAuthenticationPlugin.swift
  packages/authentication/src/definitions.ts
  packages/authentication/src/web.ts
Labels: feature, package: authentication

#667 feat(storage): get custom metadata
  .changeset/lazy-islands-invite.md
  packages/storage/README.md
  packages/storage/android/src/main/java/io/capawesome/capacitorjs/plugins/firebase/storage/classes/results/GetMetadataResult.java
  packages/storage/ios/Plugin/Classes/Results/GetMetadataResult.swift
  packages/storage/src/definitions.ts
  packages/storage/src/web.ts
Labels: feature, package: storage
